altgraph==0.16.1
appdirs==1.4.3
bottle==0.12.18
bottle-websocket==0.2.9
certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
docutils==0.15.2
Eel==0.11.0
future==0.18.2
gevent==1.4.0
gevent-websocket==0.10.1
greenlet==0.4.15
idna==2.8
Kivy==1.11.1
kivy-deps.angle==0.1.9
kivy-deps.glew==0.1.12
kivy-deps.gstreamer==0.1.17
kivy-deps.sdl2==0.1.22
Kivy-Garden==0.1.4
packaging==19.2
pefile==2019.4.18
pycparser==2.19
Pygments==2.5.1
PyInstaller==3.5
pyparsing==2.4.5
pypiwin32==223
pywin32==227
pywin32-ctypes==0.2.0
requests==2.22.0
six==1.13.0
urllib3==1.25.7
whichcraft==0.6.1
